<a href="https://colab.research.google.com/github/Czeu/Notas_Data_Science/blob/main/Python_D%C3%ADa1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Método

En cada pregunta intentaré explicar los conocimientos básicos que se necesitan para resolverlas y entonces daré una solución.

## Pregunta 1

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line.

Python nos permite manejar diferentes tipos de datos, como los números enteros. Además datos integrados como las listas o diccionarios. En este caso podemos crear el listado de los números a revisar y entonces poner uno a uno a prueba. Por lo que usamos el condicional if y un ciclo for para revisar cada caso. Para tenerminar necesitamos la operación módulo, que devuelve el residuo de la división entre dos números.* 

*Alternativamente podemos hacer list comprehension para crear dos conjuntos y entonces hacer una diferencia

In [ ]:

x7 = [x for x in range(2000, 3201) if x % 7 ==0]
x5 = [x for x in range(2000, 3201) if x % 5 ==0]
x = set(x7) - set(x5)

## Question 2


> Write a program which can compute the factorial of a given numbers.The results should be printed in a comma-separated sequence on a single line.Suppose the following input is supplied to the program: 8 Then, the output should be:40320

La forma clásica es usando iteración de funciones por la naturaleza del factorial que multiplica todo lo anterior por algo más. También puede ser con un ciclo y almacenando en cada paso la información previa y multiplicar por el nuevo número.

In [ ]:
def factorial(x):
  if x == 0:
    return 1 ## Porque es un caso especial
  return x * factorial(x-1)

assert( factorial(8) == 40320)

## Question 3

> With a given integral number n, write a program to generate a dictionary that contains $(i, i \times i)$ such that is an integral number between 1 and n (both included). and then the program should print the dictionary.Suppose the following input is supplied to the program: 8

Los diccionarios son una excelente forma de almacenar información, donde cada valor tiene asociado una llave, por lo que no están ordenados como las listas. Además, los valores pueden ser heterogeneas, listas, diccionarios, etc.

La forma más rápida es usando una comprehensión de diccionario. Pero como pide que sea para algún número dado debemos recibir el valor con *input()*

In [ ]:
try:
  n = int(input()) # Si el usuario no da un número dará un error. 
except:
  print("No es un número")  

nxn = {i: i*i for i in range(1, n+1)}
print(nxn)

3
{1: 1, 2: 4, 3: 9}

Una respuesta adicional. Ya no recordaba la forma usando *enumerate*, que permite llevar el recuento de la iteración, en este caso coincide con el valor de n.

In [ ]:
list(enumerate([i*i for i in range(1, n+1)], 1))
dict(enumerate([i*i for i in range(1, n+1)], 1)) # El 1 es para indicar el inicio en 1 y no en default = 0

{0: 1, 1: 4, 2: 9}